* {
	text-align: center;
}

body {
	display: grid;
	grid-template-columns: auto;
}

.hs{
	font-family: Arial;
	margin-top: 25vh;
}

.input,
.button {
	font-size: 1.3em;
	padding: 5px 10px;
}

.input {
	margin: auto;
	border-radius: 4px 4px 4px 4px;
	width: 30em;
	text-align: left;
	border: 2px solid #04b8ff;
	background: #000000;
    outline: none;
    color: rgb(151, 151, 151);
}

.input:focus {
	border: 2px solid #005fb8;
}

.button{
	margin: 2% auto;
	border: 2px solid #0485ff;
	background: #000000;
	color: white;
	transition: 0.15s;
}

.button:hover {
	background: #2e2e2e;
    border-color: #016acc;
    cursor: pointer;
}

.changeme{
	margin: auto;
	border-radius: 4px 4px 4px 4px;
	width: 30em;
	text-align: center;
	border: 2px solid #04b8ff;
	background: #000000;
    outline: none;
    color: rgb(255, 255, 255);
}


@media only screen and (max-width: 600px) {
	body {
		display: grid;
		grid-template-columns: auto;
		justify-content: center;
	}

	.input {
		margin: auto;
		width: 100%;
	}

	.button {
		margin: 7% auto;
		width: 100%;
	}
}
